<script src="../../js/burguer.js" defer></script> 
<header>
  <nav class="navbar">
    <a href="/" class="logo">pcArts</a>
    <ul class="list-nav">
      <li><a href="/products">Products</a></li>
      <li><a href="/maintenance">About</a></li>
      <li><a href="/maintenance">Contact</a></li>
    </ul>
    <a href="/login" class="login">Login</a>
    <div class="burg" id="burg">
      <a href="/" class="logo-burguer">pcArts</a>
      <img src="/../../img/menu-buguer-open.svg" alt="menu" class="menu" id="btn-menu">
      <ul class="burguer" id="burguer">
        <li><a href="/products">Products</a></li>
        <li><a href="/maintenance">About</a></li>
        <li><a href="/maintenance">Contact</a></li>
        <li class="list-login"><a href="/login" class="login-burguer">Login</a></li>
      </ul>
    </div>
  </nav>
</header>