<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="The best setups and peripherals games today, come see!!"
  />
  <title>pcArts</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/maintenance.css">
  <link rel="shortcut icon" href="../../img/favicon.svg" type="image/x-icon">
</head>
