<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
  <body class="body">
    <section class="bg-site">
      <%- include('../partials/header') %>
        <main>
          <section class="products">
            <div class="group">
              <div class="text">
                <h1>Up Level</h1>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi rem
                  commodi optio inventore, omnis minima fugit molestias, alias ipsa
                  quidem sit modi est repudiandae maiores neque nostrum itaque
                  praesentium! Error?
                </p>
                <a href="/maintenance"><button class="btn-products">More</button></a>
              </div>
              <div>
                <img src="../../img/Dragonbgsvg.svg" alt="dragon-bg" class="dragon" />
              </div>
            </div>
          </section>
          <%- include('../partials/sample')  %> 
        </main>
        <%- include('../partials/footer')  %> 
    </section>
  </body>
</html>