<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="css/form-login.css"/>
  <script src="js/login.js" defer></script>
</head>

<html lang="en">
<section class="bg-site">
  <form action="" class="form-login">
    <div class="forms">
      <div class="form">
        <h1 class="text">Log in</h1>
      <div class="data">
        <label for="email" class="label">Email</label>
        <input type="text" id="email" class="input" placeholder="example@example.com">
        <img src="img/mail-inativo.svg" alt="mail" class="mail">
        <label for="password" class="label">Password</label>
        <img src="img/eye-inativo.svg" alt="eye-inative" class="eye" id="eye">
        <input type="password" id="password" class="input" placeholder="Your password">
        <img src="img/lock-inativa.svg" alt="eye-inative" class="lock">
        <div class="remember">
          <div class="div">
            <input type="checkbox" name="remember" id="remember">
            <label for="remember" class="remember-me">Remember-me</label>
          </div>
          <a href="/">Forgout my password</a>
        </div>
        <input type="button" value="LOGIN" class="login-btn">
      </div>
      <div class="links">
        <div class="register">
          <p>Dont have account?</p>
          <a href="/register">Register</a>
        </div>
        <a href="/" class="back"><img src="img/seta.svg" alt="seta" draggable="false">Back</a>
      </div>
    </div>
  </div>
  </form>
</section>
</html>