<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> 
<body>
<%- include('../partials/header') %> 
  <section class="section-maintenance">
    <div class="maintenance">
      <h1>Off. . . Under maintenance</h1>
    </div>
    <img src="../../img/Dragonbgsvg.svg" alt="bg-dragon" class="bg-maintenance">
  </section>
  <%- include('../partials/footer') %> 
</body>
</html>